@page "/exceltojson"

<div class="form-group col-6 col-sm-4 col-md-3 col-lg-auto">
    <div class="form-inline">
        <label class="control-label">第一列是否為欄位名稱：</label>
        <Switch name="gExcelToJsonSwitch" ValueChanged="@OnValueChanged" OnColor="Color.Primary" Value="@IsTitle" ShowInnerText="true" OnInnerText="是" OffInnerText="否" />
    </div>
    <Button name="gExceltojsonSubmit" ButtonType="@ButtonType.Button" OnClick="SelectFile" Icon="fas fa-clipboard-check" IsAsync="true" Text="選擇檔案">
        <Tooltip Placement="Placement.Right" Title="點擊生成Json" />
    </Button>
</div>

